{% extends "base.html.twig" %}
{% set page = "admin" %}
{% set adminControl = "portfolio" %}

{% block header %} {% include "_adminControl.html.twig" %} {% endblock %}
{% block body %}
    <h2>Add a project</h2>
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
    {% if added %}
        <p>You have successfully added a project to your portfolio!</p>
    {% endif %}
    <div class="form-container">
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.image) }}
        {{ form_row(form.textDescription) }}
        <div id="tech">
            
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascript %}
<script>

</script>
{% endblock %}