{% extends 'base.html.twig' %}
{% set page = "portfolio" %}

{% block header %}
<h1>Portfolio</h1>
{% endblock %}

{% block body %}
<section id="portfolio-intro">
    <p>From a fansite to a book community</p>
    <p>I have made a varied collection of websites.</p>
    <p id="portfolio-check">Check them out!</p>
</section>
<section id="portfolio-cards-container">
    <div id="portfolio-cards">
        {% for project in projects %}
            <a href="{{ project.link }}" class="card" target="_blank">
                <div class="inner-card">
                    <img src="{{ asset('uploads/images/' ~ project.image.fileName) }}" alt="{{ project.name }}">
                    <h2>{{ project.name }}</h2>
                    <p class="tag-line">{{ project.textDescription }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</section>

{% endblock %}
