{% extends "base.html.twig" %}
{% set page = "register" %}

{% block header %}
    <h1>Register</h1>
{% endblock %}
{% block body %}
    <h2>Sign up</h2>
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
    {% if added %}
        <p>You have successfully registered!</p>
    {% endif %}
    <div>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
    {{ form_end(form) }}
    </div>
{% endblock %}